header{
	width: 1004;
	vertical-align: center;
	border: 10px solid #ccc;
	border-radius: 10px;
}
	
#banniere{
		background-image: url("LOGO-CNAM-RA.png");
		height: 150px;
		width: 554;
		margin: auto;
}

h1{
	color: #E94211;/*commentaire css la couleur orange*/
	font-size: 25px;
}
h2{
	color:#0228E3;
	font-size: 25px;
}
p{
		color: font-size:18px;
		text-align:justify;
}
body{
	color:#050300;
	background-color:
}

img{
	width:30%;
	height:30%;
	padding:0%;
	margin:0%;
}
#nav{
	padding: 40; margin: 40;/* espace entre la marge du haut et le menu */
	text-align: center;/* centre de texte */
}
#nav li{
	display: inline;
	list-style: none;/* necessaire pour IET */
}
#nav a {
	display: inline-block;
	margin: 10 40 10 40px;
	background:#FF795E;/*couleur de fond */
	width: 120px;
	text-decoration: none; /* pas d'héritage avec effet souligné */
	height: 30px; /* hauteur */
	line-height: 10 40 10 40px;/* interligne */
	padding: 0 50px; /* marge intérieur */
	font-family: sans-serif; /* police d'ecriture */
	font-size: 28px; /* taille du texte */
}

#nav a:hover{background:white;
}

table{
		border: 1px solide black;/*pour ligne continue*/
}

tr{		background-color: #EB8700
}

td{		
		border: 1px dotted black;/*dotted */
}

caption{
		font-size: 30px;
		color: #E94211;
		text-decoration: underline;
		padding-bottom: 10px
}

th{
	background-color: #E7D49B;
	height: 30%;
	border: ridge 5px;
	color: black;
}

#interv{
	background-color: #E7D49B;
	color: black;
}

#tel{
	background-color: #E9D1AB;
}

footer {
	background: #E7E6DF;
	width: 600;
	justify-content: center;
	padding: 15px;
	margin-left: auto;
	margin-right: auto
}

#p1 {
	font-size: 16px;
	color: red;
	text-align: center;
}
	




